In [3]:
import psycopg2
conn_string = 'postgresql://neondb_owner:npg_EY4Ahwe1jTgl@ep-damp-mud-a6vaqxcz-pooler.us-west-2.aws.neon.tech/neondb?sslmode=require'

try:
    # Establish the connection
    conn = psycopg2.connect(conn_string)
    print("Connection successful!")
    cursor = conn.cursor()
    cursor.execute("SELECT * FROM richtato_user_user where username = 'tepolak'")
    rows = cursor.fetchall()
    print(rows)
    cursor.close()
    conn.close()

except Exception as e:
    print("Unable to connect to the database:", e)

Connection successful!
[(2, 'pbkdf2_sha256$600000$jMdXNGMqDhlbROyL8gjMJO$xTaeT+VTTlR6U5ga0Xdbzqfi3OePE+a+i2CwonQwjWQ=', datetime.datetime(2025, 3, 5, 16, 21, 16, 729598, tzinfo=datetime.timezone.utc), 'tepolak', datetime.datetime(2025, 3, 5, 3, 10, 44, 848943, tzinfo=datetime.timezone.utc), True, False, False, '', '')]

In [16]:
import psycopg2
import sqlite3

TABLE = 'income_income'

# SQLite connection
sql_conn = sqlite3.connect('/Users/alan/Downloads/Richtato Database.sqlite3')
sql_cursor = sql_conn.cursor()

# PostgreSQL connection
conn_string = 'postgresql://neondb_owner:npg_EY4Ahwe1jTgl@ep-damp-mud-a6vaqxcz-pooler.us-west-2.aws.neon.tech/neondb?sslmode=require'
conn = psycopg2.connect(conn_string)
print("Connection successful!")
cursor = conn.cursor()

try:
    # Fetch data from the SQLite database
    sql_cursor.execute(f"SELECT * FROM {TABLE}")
    rows = sql_cursor.fetchall()

    # Get column names from the SQLite table
    column_names = [description[0] for description in sql_cursor.description]
    print(f"Column names: {column_names}")  # Debugging column names

    # Prepare the INSERT query for PostgreSQL
    placeholders = ", ".join(["%s"] * len(column_names))  # Placeholder for each column

    # Loop over the rows from SQLite and insert them into PostgreSQL
    for row in rows:
        print(f"Inserting row: {row}")  # Debugging row data
        
        # Construct the INSERT query
        insert_query = f"INSERT INTO {TABLE} ({', '.join(column_names)}) VALUES ({placeholders})"
        
        # Execute the INSERT query on PostgreSQL
        cursor.execute(insert_query, row)

    # Commit the transaction to PostgreSQL
    conn.commit()
    print("Data inserted successfully!")

except Exception as e:
    print(f"An error occurred: {e}")
    conn.rollback()  # Rollback in case of error

finally:
    # Close the SQLite cursor and connection
    if sql_cursor:
        sql_cursor.close()
    if sql_conn:
        sql_conn.close()

    # Close the PostgreSQL cursor and connection
    if cursor:
        cursor.close()
    if conn:
        conn.close()

Connection successful!
Column names: ['id', 'description', 'date', 'amount', 'account_name_id', 'user_id']
Inserting row: (1, 'Payroll', '2024-03-05', 6330, 7, 1)
Inserting row: (2, 'Payroll', '2024-02-23', 3415.07, 7, 1)
Inserting row: (3, 'Payroll', '2024-02-23', 15000, 7, 1)
Inserting row: (4, 'Payroll', '2024-03-08', 2847.32, 7, 1)
Inserting row: (5, 'Payroll', '2024-03-22', 2856.61, 7, 1)
Inserting row: (6, 'Payroll', '2024-04-19', 2884.31, 7, 1)
Inserting row: (7, 'Payroll', '2024-04-05', 2753.57, 7, 1)
Inserting row: (8, 'Payroll', '2024-05-03', 2764.41, 7, 1)
Inserting row: (9, 'Payroll', '2024-05-17', 2974.26, 7, 1)
Inserting row: (10, 'Payroll', '2024-05-31', 2764.4, 7, 1)
Inserting row: (11, 'Payroll', '2024-06-28', 2954.27, 7, 1)
Inserting row: (12, 'Payroll', '2024-06-14', 2764.41, 7, 1)
Inserting row: (13, 'Payroll', '2024-07-12', 414.66, 7, 1)
Inserting row: (14, 'Payroll', '2024-07-12', 2349.76, 1, 1)
Inserting row: (15, 'Payroll', '2024-07-26', 2468.66, 1, 1)
Inserting row: (16, 'Payroll', '2024-07-26', 435.65, 7, 1)
Inserting row: (17, 'Payroll', '2024-08-23', 440.14, 7, 1)
Inserting row: (18, 'Payroll', '2024-08-23', 2494.15, 1, 1)
Inserting row: (19, 'Payroll', '2024-08-09', 414.66, 7, 1)
Inserting row: (20, 'Payroll', '2024-08-09', 2349.74, 1, 1)
Inserting row: (21, 'Payroll', '2024-09-06', 1957.43, 1, 1)
Inserting row: (22, 'Payroll', '2024-09-06', 345.43, 7, 1)
Inserting row: (23, 'Payroll', '2024-09-20', 2093.35, 1, 1)
Inserting row: (24, 'Payroll', '2024-09-20', 583.99, 7, 1)
Inserting row: (25, 'Payroll', '2024-10-04', 293.78, 7, 1)
Inserting row: (26, 'Payroll', '2024-10-04', 1664.78, 1, 1)
Inserting row: (27, 'Payroll', '2024-10-18', 1426.62, 1, 1)
Inserting row: (28, 'Payroll', '2024-10-18', 500, 7, 1)
Inserting row: (29, 'Payroll', '2024-10-18', 200, 2, 1)
Inserting row: (30, 'Payroll', '2024-11-01', 1358.56, 1, 1)
Inserting row: (31, 'Payroll', '2024-11-01', 400, 7, 1)
Inserting row: (32, 'Payroll', '2024-11-01', 200, 2, 1)
Inserting row: (33, 'Payroll', '2024-11-15', 1411.89, 1, 1)
Inserting row: (34, 'Payroll', '2024-11-15', 400, 7, 1)
Inserting row: (35, 'Payroll', '2024-11-15', 200, 2, 1)
Inserting row: (36, 'Payroll', '2024-11-29', 1597.67, 1, 1)
Inserting row: (37, 'Payroll', '2024-11-29', 400, 7, 1)
Inserting row: (38, 'Payroll', '2024-11-29', 200, 2, 1)
Inserting row: (39, 'Payroll', '2024-12-13', 1411.88, 1, 1)
Inserting row: (40, 'Payroll', '2024-12-13', 400, 7, 1)
Inserting row: (41, 'Payroll', '2024-12-13', 200, 2, 1)
Inserting row: (42, 'Payroll', '2024-12-27', 1553.31, 1, 1)
Inserting row: (43, 'Payroll', '2024-12-27', 400, 7, 1)
Inserting row: (44, 'Payroll', '2024-12-27', 200, 2, 1)
Inserting row: (45, 'Payroll', '2025-01-10', 400, 7, 1)
Inserting row: (46, 'Payroll', '2025-01-10', 200, 2, 1)
Inserting row: (47, 'Payroll', '2025-01-10', 1430, 1, 1)
Inserting row: (48, 'Payroll', '2025-01-24', 1536.29, 1, 1)
Inserting row: (49, 'Payroll', '2025-02-07', 1895.96, 1, 1)
Inserting row: (50, 'Payroll', '2025-02-07', 400, 7, 1)
Inserting row: (51, 'Payroll', '2025-01-24', 400, 7, 1)
Inserting row: (52, 'Payroll', '2025-01-24', 200, 2, 1)
Inserting row: (53, 'Payroll', '2025-02-07', 200, 2, 1)
Data inserted successfully!

In [ ]:
cursor.execute("SELECT * FROM account_account")

rows = cursor.fetchall()
for row in rows:
    print(row)

In [ ]:
from richtato.apps.richtato_user.models import CategoryDB
cursor.execute("SELECT * FROM richtato_user_category")

rows = cursor.fetchall()
for row in rows:
    print(row)
    category = CategoryDB()